@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anonymous Pro', monospace;  

}




#nextMeet {
    width:50%;
    max-height:50%;
    background-color:black;
    margin-left:50%;
    transform:translateX(-50%);
    border-radius:10px;
    text-align:center;
    color:white;
    font-size:2em;
    box-shadow: 0px 8px 8px 0px #464444;


}
#nextMeet ul {
    padding-top:5%;
    padding-bottom:5%;
    -moz-column-count: 2;
    -moz-column-gap: 30px;
    -webkit-column-count: 2;
    -webkit-column-gap: 30px;
    column-count: 2;
    column-gap: 30px;
}
#nextMeet ul li {
    list-style-type:none;
}
.met {
    text-decoration:line-through;
}
#nextMeet .active {
    color:rgb(16, 202, 16);
}

#date {
    transform:translateY(100%);
    color:white;
    font-size:64px;
}

.logos {
    width:70%;
    margin-left:50%;
    transform:translateX(-50%);
    padding-bottom:20px;
    border-bottom: solid;
    border-color:white;
}

#description1, #description2, #description3 {
    width:15%;   
     position:absolute;
    text-align:center;
    top:20%;
}
#description1 { 
    left:20%;
    transform:translateX(-20%);
}
#description2 {
    left:50%;
    transform:translateX(-50%);
}
#description3 {
    left:80%;
    transform:translateX(-80%);

}
p {

    padding-top:20px;
    text-align:justify;
}
#dHead {
    padding-top:20px;
}
.s3, .s5 {

    background-color:black;
    color:white;
}

.section h1 {

    font-size:64px;
    position:absolute;
    top:10%;
    left:50%;
    transform:translate(-50%,-40%);
    
}
.s3 h1, .s5 h1 {
    text-shadow: -5px 3px 3px #202020;
}
.s2 h1, .s4 h1 {
    text-shadow: -2px 2px 1px #979797;

}
.s1 {
    text-align:center;
}
.s1 h1 {
    text-shadow: -5px 3px 3px #202020;
    top:40%;
    transform:translate(-50%,-40%);
}

#img {
    background-image:url(images/clubpic.jpg);
    background-size:cover;
    width:100%;
    height:100%;
    cursor:pointer;
}
#blackLayer{

    width:100%;
    height:100%;
    background-color:#000;
    opacity:0.8;
  
  }
.s1,.s3, .s5 {
    color:white;

}

/* popup typeform button */
.s1 .typeform {
        display: block;
        position: absolute;
        bottom: 20%;
        width: 100%;
        height: 40px;
}
.typeform-share {
    box-shadow: 0 0 7px white;
}
/* last page typeform */
.s6 .typeform {
    padding: 20px 10vw;
}
.typeform-widget {
    box-shadow: 0px 0px 10px 0px #d1d1d1;
}
.s6 h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #b1b8c5;
}

.board {
    background:black;
    width:13%;
    color:white;
    position:absolute;
    text-align:center;
    border-radius:20px;
    box-shadow: 0px 8px 8px 0px #464444;

}

.board:hover {
    box-shadow: 0px 10px 10px 0px #464444;

}
.b1, .b2 {
    top:25%;
}
.b1 {
    left:30%;
    transform:translate(-30%,-20%);
}
.b2 {
    left:70%;
    transform:translate(-70%,-20%);
}
.b3,.b4,.b5 {
    top:80%;
}
.b3 {
    left:15%;
    transform:translate(-15%,-60%);
}
.b4 {
    left:50%;
    transform:translate(-50%,-60%);
}
.b5 {
    left:85%;
    transform:translate(-85%,-60%);
}
.board img {
    width:100%;
    padding-left:3%;
    padding-right:3%;
    padding-top:3%;
    padding-bottom:3%;
}
.board h2 {
    padding-top: 3%;
}
.board h4 {
    padding-bottom:3%;
}

#cContainer {
    position:absolute;
    width:60%;
    height:65%;
    top:35%;
    left:50%;
    transform:translate(-50%,-20%);
    background-color:rgba(255, 255, 255, 0.1);
    border-radius:50px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
#left h2,#right h2 {
    font-size:2.3em;
}
#left {
    float:left;
    width:50%;
    text-align:center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction:column;
    justify-content: center;

}
#right {
    float:right;
    width:50%;
    text-align:center;
    border-left:solid;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction:column;
    justify-content: center;
    
}

#rBod h3 {
    font-size:1.2em;
    text-align:left;    
    padding-left:10%;
    padding-bottom:10%;
}

 #rBod h2 {
    padding-bottom:10%;
}
form h2, .row {
    padding-bottom:5%;
}

a {
    color:white;
    text-decoration:none;
    text-decoration:bold;
}

.input {
    border-radius:10px;
    height:10%;
    padding-top:8px;
    padding-bottom:8px;
    padding-left:5px;
    border:none;

}
#message {
    height:100px;
}


#submit_button {
    margin:15px;
    display: inline-block;
    border-radius:10px;
    border:none;
    min-width:15%;
    box-shadow: 2px 3px 5px 0px #464444;
    background-color:white;
    width:auto;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5%;
    padding-right:5%;
}

#hFullPage .s1 {
    background-color: #0e3148;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%233e3622' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23929a00'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    
}

#hFullPage h1 {
    top:50%;
    padding-bottom:10px;
    border-bottom:1px;
    font-size:100px; 
}
#hFullPage h3{
    position:absolute;
    font-size:40px;
    top:65%;
    left:50%;
    transform:translate(-50%,-60%);
    text-shadow: -5px 3px 2px #333333;

}

#hFullPage .left {
    width:50%;
    height:100%;
    position:absolute;
}
#hackIco {
    position:absolute;
    transform:translate(-50%,-50%);
    left:50%;
    top:50%;
    width: 50%;
}
#hFullPage .right {
    width:50%;
    height:100%;
    margin-left:45%;
    display:inline-block;
}
#hFullPage #subtitle{
    font-size:50px;
    text-align:center;
    margin-top:25%;
}
#hFullPage #hackNBDescription {
    font-family: 'Open Sans', sans-serif;
    text-align:center;
    padding-top:10%;
    padding-right:2%;
    padding-left:2%;
    font-size:25px;
    line-height:38px;
}


.pageTitle{
    position:absolute;
    font-size:50px;
    top:10%;
    left:50%;
    transform:translate(-50%,-50%);
}
.scroll-prompt {
    display: block;
    position: absolute;
    bottom: 10%;
    width: 100%;
    height: 40px;
}
.scroll-prompt p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#hFullPage .s3 ul {
    -moz-column-count: 2;
    -moz-column-gap: 10%;
    -webkit-column-count: 2;
    -webkit-column-gap: 10%;
    column-count: 2;
    column-gap: 20%;
    list-style-type:none;
    position:absolute;
    transform:translate(-50%,-40%);
    left:50%;
    width:70%;
}

#hFullPage .s3 li {
    font-family: 'Open Sans', sans-serif;
    margin:0 0 30px 0;   
    
    font-size:35px;
}

.sponsor-div {
    height: 75vh;
    padding: 40px;
    display: flex;
    justify-content: center;
}
.sponsors {
    margin: 2vw;
    padding: 2px;
}
#sponsor1 {
    height: 100px;
    border-radius:100%;
}
#sponsor2 {
    height: 95px;
}

#hFullPage .s5 ol .questions{
    font-size:30px;
    margin-left:5%;
    margin-bottom:1%;
    font-weight:bold;
}
#hFullPage .s5 ol .questions:first-child{
    margin-top:5%;
}
#hFullPage .s5 ol .answers {
    font-family: 'Open Sans', sans-serif;

    margin-left:5%;
    margin-bottom:2%;
    font-size:22px;
}

@media only screen and (max-width: 600px) {
    .s2 #nextMeet {
        width:90%;
    }
    .logos {
        display:none;
    }
    .s3 p {
        font-size:75%;
    }
    .s3 h2 {
        font-size:100%;
    }
    #description1{
        left: 10%;
    }
    #description3 {
        left:90%;
    }
    #description1, #description2, #description3 {
        width:18%;
    }
    .board {
        width:23%;
        padding-left:2%;
        padding-right:2%;
    }
    .board h2, .board h4 {
        font-size:80%;
    }
    .b1 {
        left:20%;
    }
    .b2 {
        left:80%;
    }
    .b3 {
        left:10%;
    }
    .b5 {
        left:90%;
    }
    #cContainer {
        width:80%;
    }
    #right {
        margin:0;
        padding:0;
        padding-top:20px;
        height:100%;
        float:none;
        display:inline-block;
        border:none;
        text-align:center;
        width:100%;
    }
 
    #left {
        display:none;
    }
    #hFullPage h1{
        font-size:50px;
    }
    #hFullPage h3 {
        font-size:20px;
    }
    #hFullPage .s2 .left {
        display:none;
    }
    #hFullPage .s2 .right {
        width:100%;
        margin-left:0;
    }
    #hFullPage .pageTitle,#hFullPage #subtitle {
        font-size:30px;
    }
    #hFullPage #hackNBDescription {
        font-size:20px;
        line-height:30px;
    }
    #hFullPage .s3 ul {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        list-style-type:none;
        position:absolute;
        transform:translate(-50%,-50%);
        left:50%;
        width:70%;
    }
    
    #hFullPage .s3 li {
        font-family: 'Open Sans', sans-serif;
        margin:0 0 10px 0;   
        
        font-size:20px;
    }
    #hFullPage .s5 ol .questions{
        font-size:22px;
        margin-left:5%;
        margin-bottom:1%;
        font-weight:bold;
        
    }
    #hFullPage .s5 ol .questions:first-child{
        margin-top:5%;
    }
    #hFullPage .s5 ol .answers {
        font-family: 'Open Sans', sans-serif;
    
        margin-left:5%;
        margin-bottom:3%;
        font-size:15px;
        list-style-type:none;
    }
}

/* Scroll Prompt Animation*/

.slide-up {
	-webkit-animation: slide-in-bottom 2s ease-out 1s 6 alternate both;
	        animation: slide-in-bottom 2s ease-out 1s 6 alternate both;
}

@-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
@keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
